@import "https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
    --border: 30, 144, 255;
    --red: 255, 0, 0;
    --text: 17, 24, 39;
    --background: 255, 255, 255;
}

[data-theme="dark"] {
    --text: 255, 255, 255;
    --background: 17, 24, 39;
}
/*
@media (prefers-color-scheme: dark) {
    :root {
        --text: #ffffff;
        --background: 17, 24, 39;
    }
} */

* {
    color: rgb(var(--text));
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

.menu-item {
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.menu-item:hover {
    transform: translateY(-0.3rem) translateX(0.3rem);
    color: rgb(14 165 233);
    filter: drop-shadow(0 0 0.5em #646cffaa);
}

.rotate-180 {
    rotate: 1620deg;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(var(--background));
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.welcome {
    width: 600px;
    height: 450px;
}
